.main-page {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  background-color: #450d80;
  width: 25%;
  height: 25%;
  text-align: center;
  border: 5px, solid, pink;
}
